<section class="footer">
  <div class="footer__wrapper">
    <ul class="footer__info-list">
      <li class="footer__info-item">
        <a href="#">TERMS AND CONDITIONS</a>
      </li>
      <li class="footer__info-item">
        <a href="#">PRIVACY POLICY</a>
      </li>
      <li class="footer__info-item">
        <a href="#">COPYRIGHT</a>
      </li>
      <li class="footer__info-item">
        <a href="#">CONTACT</a>
      </li>
    </ul>
    <ul class="footer__social-list">
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-reddit-alien"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-medium-m"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-telegram-plane"></i>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

