<section class="forgot">
  <div class="sign">
    <header class="sign__header">
      <div class="sign__header-wrapper">
        <a class="sign__logo" href="#">
          <img src="images/logo.png" alt="Open Packaging Network">
        </a>
        <p class="sign__header-text">
          Open Packaging<br>
          Network
        </p>
      </div>
    </header>
    <div class="sign__content">
      <h1 class="sign__title">
        Password recovery
      </h1>
      <div v-if="error.error && error.type === 'not_found_token'" style="color: red; font-size: 15px">{{ error.message }}</div>
      <form class="sign__form" @submit.prevent="doForgot" method="post">
        <input type="hidden" v-model="user.token">
        <div class="sign__input-group sign__input-group--email">
          <div v-if="error.error && error.type === 'not_found_email'" style="color: red; font-size: 15px">{{ error.message }}</div>
          <input class="sign__input" v-model="user.email" id="email-in" type="text" placeholder="Enter email">
          <label for="email-in" class="sign__label sign__label--email">Email</label>
        </div>
        <div class="sign__input-group sign__input-group--password">
          <div v-if="error.error && error.type === 'password_not_equal'" style="color: red; font-size: 15px">{{ error.message }}</div>
          <input class="sign__input" v-model="user.password" id="password-up1" type="password" placeholder="Enter password">
          <label for="password-up1" class="sign__label sign__label--password">Password</label>
        </div>
        <div class="sign__input-group sign__input-group--password">
          <div v-if="error.error && error.type === 'password_not_equal'" style="color: red; font-size: 15px">{{ error.message }}</div>
          <input class="sign__input" v-model="user.password_confirmed" id="password-up2" type="password" placeholder="Enter password">
          <label for="password-up2" class="sign__label sign__label--password">Repeat password</label>
        </div>
        <invisible-recaptcha
                sitekey="6LdW4mIUAAAAACGlppsS93XhIgLZhki4XPAqOOkN"
                :callback="doForgot"
                class="sign__button"
                color="primary"
                type="submit">
          Next
        </invisible-recaptcha>
      </form>
    </div>
  </div>
</section>

